.preloader2 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999999999999;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	margin: 0 auto;
	background: rgba(15, 79, 163, 0.478);
}

.preloader2 .preloader-circle {
	width: 70px;
	height: 70px;
	position: relative;
	border-style: solid;
	border-width: 3px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: 10;
	border-radius: 50%;
	/* -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15); */
	box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
	/* background-color: rgba(86, 143, 218, 0.344); */
	-webkit-animation: zoom 2000ms infinite ease;
	animation: zoom 2000ms infinite ease;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.preloader2 .preloader-img {
	position: absolute;
	top: 50%;
	z-index: 200;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 6px;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.preloader2 .preloader-img svg {
	max-width: 55px;
}

@-webkit-keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.6s;
		-o-transition: 0.6s;
		transition: 0.6s;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: 0.6s;
		-o-transition: 0.6s;
		transition: 0.6s;
	}
}

@keyframes zoom {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.6s;
		-o-transition: 0.6s;
		transition: 0.6s;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: 0.6s;
		-o-transition: 0.6s;
		transition: 0.6s;
	}
}
