.wovimg img{
    width: 100%;
    transition: border 1s ease;
    border: solid 0px orange;
    filter: blur(0px);
}
.wovimg img:hover{
    filter: blur(1px);
    border: solid 9px rgb(253, 181, 49);
}
.wovimg{
    height: fit-content;
}
.wovp1{
    font-size: 28px;
    letter-spacing: 3px;
}
.wovp2{
    font-size: 15px;
    margin-top: 50px;
    color: rgb(96, 95, 95);
    line-height: 35px;
}
.wovbtn{
    background-color: rgb(253, 181, 49);
    border-radius: 7px;
    font-size: 20px;
    color: white;
    border: none;
    border-bottom: solid 5px rgb(253, 168, 10);
}
.wovvid{
    background-image: url(../Assets/Images/how-to-choose-a-guitar-playing-style-767x500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 500px;
}
.wovpimg{
    width: 80px;
}
.wovimg{
    height: 300px;
}
@media screen and (max-width: 480px) {
    .wovvid{
        margin-top: 30px;
    }
    .wovdn{
        display: none;
    }
    .wovimg{
        height: initial;
    }
}
@media screen and (max-width: 768px) and (min-height: 1024px) {
    .wovimg{
        height: 200px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) {
    .wovimg{
        height: 200px;
    }
}  